{% extends 'layout.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni illum eum earum totam quaerat magnam nam.
     Doloremque eos labore incidunt sint numquam sit est nesciunt, consequuntur sequi a! Sed, fugit?</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, ex? Placeat veniam sequi in eius tenetur 
    ut velit, sapiente corrupti sit autem debitis repudiandae nihil, praesentium natus accusamus impedit
    , enim minus. Hic aliquam voluptatum totam delectus aut beatae saepe eligendi earum maxime? 
    Est consequuntur obcaecati facilis earum eaque hic iusto! Delectus culpa animi iusto recusandae
     id explicabo in nostrum reiciendis quibusdam autem. Maiores corporis iste consectetur illo soluta
      molestiae placeat dolorem incidunt dolor! Facere culpa tempora, exercitationem labore necessitatibus 
      commodi animi reiciendis ad! Dolores quam quod voluptates voluptatibus aperiam. Quod et voluptatum magnam 
      animi provident corporis voluptates minus ratione temporibus.</p>

{% endblock %}